body {
  background: firebrick !important;
  color: white !important;
}
nav {
  background: none !important;
}
.header-item.btn {
  color: white !important;
}
nav .btn2 {
  color: white !important;
}
